
#features-menu li a.icon-project span.icon {
  background: url('software_projects.png') no-repeat;
}

#project-links-section-development {
  display: none;
}

div.view-software-projects a.crayon-anchor {
  height: 18px;
}
